.about{
    &_header{
        display: none;
        text-align: center;
        margin-top: -30px;
        margin-bottom: 95px;
        @include breakpoint(medium) {
            display: block;
        }
        @include breakpoint(large) {
            margin-bottom: 80px;
        }
    }
    &_images{
        margin-bottom: 50px;
        @include breakpoint(medium) {
            margin-bottom: 55px;
        }
        @include breakpoint(large) {
            margin-top: 130px;
            margin-bottom: 70px;
        }
        &_item{
            box-shadow: 0 10px 20px rgba(153, 153, 153, 0.4);
            margin-bottom: 20px;
            @include breakpoint(medium) {
                max-width: 580px;
                margin: 0 auto 30px;
            }
        }
    }
}