.contact{
    position: relative;
    &_card{
        margin: auto;
        @include breakpoint(medium) {
            max-width: 580px;
        }
        @include breakpoint(large) {
            max-width: none;
            display: flex;
        }
    }
    &_map{
        position: relative;
        height: 440px;
        @include breakpoint(medium) {
            height: 480px;
        }
        @include breakpoint(large) {
            height: 600px;
            width: 50%;
            flex: 1 1 50%;
            box-shadow: 0 10px 25px rgba(110, 110, 110, 0.16);
        }
        &_info{
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16);
            background-color: $white;
            width: 100%;
            height: 150px;
            letter-spacing: 0.32px;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 2;
            @include breakpoint(medium) {
                width: calc(100% - 100px);
                top: 50px;
                left: 50px;
            }
            &_top{
                padding: 25px 0;
                text-align: center;
                @include breakpoint(medium) {
                    padding-left: 30px;
                    padding-right: 30px;
                    text-align: left;
                }
                h3{
                    letter-spacing: 0.72px;
                }
            }
            &_bottom{
                height: 50px;
                border-top: 1px solid #e9ecef;
                padding: 0 5%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                > a{
                    font-weight: 700;
                    svg{
                        vertical-align: middle;
                        margin-right: 10px;
                        display: none;
                        @include breakpoint(medium) {
                            display: inline-block;
                        }
                    }
                }
            }
        }
        &_inner{
            width: 100%;
            height: 100%;
            padding-top: 150px;
            @include breakpoint(medium) {
                padding-top: 0;
            }
            iframe{
                width: 100%;
                height: 100%;
            }
        }
    }
    &_content{
        box-shadow: 0 10px 25px rgba(252, 194, 215, 0.65);
        background-color: $primary-light;
        padding: 50px 12% 60px;
        position: relative;
        text-align: center;
        @include breakpoint(medium) {
            padding: 85px 17% 100px;
            input{
                font-size: 16px;
            }
        }
        @include breakpoint(large) {
            text-align: left;
            padding: 85px 100px 100px;
            width: 50%;
        }
        .button{
            width: 100%;
            margin-top: 20px;
            @include breakpoint(medium) {
                width: auto;
            }
        }
    }
    &_header{
        text-shadow: 0 2px 3px rgba(0, 0, 0, 0.16);
        color: $white;
        font-size: 26px;
        margin-bottom: 14px;
        @include breakpoint(medium) {
            font-size: 42px;
        }
        @include breakpoint(large) {
            margin-bottom: 30px;
        }
    }
}