.head{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-top: 25px;
    padding-bottom: 25px;
    &_hamb{
        @include hamburger($black, $dark-gray, 20px, 14px, 2px, 3);
        &::after{
            transition: 300ms;
        }
    }
    &_logo{
        width: 130px;
        margin-top: -5px;
    }
    &_nav{
        display: none;
    }
    .button{
        display: none;
    }
    &_chat{
        svg {
            transition: 300ms
        }
        &:hover, &:focus{
            svg{
                fill:$dark-gray
            }
        }
    }
}