section.about
    h1.about_header
        | Tonik's Beauty
    +block('pink', 'left', 'about/1', 'Lorem ipsum dolor', ['Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean  commodo ligula eget dolor. Aenean massa. Cum sociis natoque  penatibus et magnis dis parturient montes, nascetur ridiculus  mus. Donec quam felis, ultricies nec, pellentesque eu, pretium  quis, sem. Nulla consequat massa quis enim.', 'Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus.'])
    
    +block('pink', 'right', 'about/2', 'Lorem ipsum dolor', ['Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean  commodo ligula eget dolor. Aenean massa. Cum sociis natoque  penatibus et magnis dis parturient montes, nascetur ridiculus  mus. Donec quam felis, ultricies nec, pellentesque eu, pretium  quis, sem. Nulla consequat massa quis enim.', 'Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus.'])
    
    .row.about_images
        .column.small-12.large-4
            .about_images_item
                img(src="./img/about/3@2x.jpg", alt="")
        .column.small-12.large-4
            .about_images_item
                img(src="./img/about/4@2x.jpg", alt="")
        .column.small-12.large-4
            .about_images_item
                img(src="./img/about/5@2x.jpg", alt="")