section.brands
    .row.align-middle.align-justify.brands_inner
        .column.shrink.brands_item
            img(src="./img/brands/reviderm.jpg", alt="Reviderm")
        .column.shrink.brands_item
            img(src="./img/brands/beauty_hills.jpg", alt="Beauty Hills")
        .column.shrink.brands_item
            img(src="./img/brands/shellac.jpg", alt="Shellac")
        .column.shrink.brands_item
            img(src="./img/brands/calgel.jpg", alt="Calgel")