section.first
    +block('blue', 'left', 'home', 'Lorem ipsum dolor, consectetuer adipis aenean massa', 'Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean  commodo ligula eget dolor. Aenean massa. Lorem ipsum dolor sit amet, consectetuer elit.', [1, 'services', 'Cмотреть услуги'])