footer.footer
    .row.footer_top
        .column.shrink.footer_menu
            +menu
        .column.shrink.footer_phone
            a(href="tel:017670781452")
                +icon('tel', 16, 16, '868e96')
                | 01767 078-14-52
        .column.shrink.footer_social
            +social('footer', [['facebook', 9, 20], ['instagram', 18, 18], ['twitter', 21, 16]])
        .column.shrink.footer_logo
            img(src="./img/logo_small.svg", alt="Tonik's")
    .footer_bottom
        .row.align-middle.align-justify.footer_bottom_inner
            .column.shrink
                | © 2018, Tonik's Beauty
            .column.shrink
                | Design by Zbrutskii