footer.footer
    .row.footer_top
        .column.footer_menu
            +menu
        .column.footer_phone
            a(href="tel:01767 078-14-52")
                +icon('tel', 16, 16, '868e96')
                | 017670781452
        .column.footer_social
            +social('footer', [['facebook', 9, 20], ['instagram', 18, 18], ['twitter', 21, 16]])
        .column.footer_logo
            img(src="./img/logo_footer.svg", alt="Tonik's")
    .footer_bottom
        .row.align-middle.align-justify
            .column.shrink
                | © 2018, Tonik's Beauty
            .column.shrink
                | Design by Zbrutskii