mixin menu(mod)
    ul.menu(class=mod)
        li(class=page==='about' ? "is_active" : "")
            a(href="./about.html") О нас
        li(class=page==='services' ? "is_active" : "")
            a(href="./services.html") Услуги
        li(class=page==='contacts' ? "is_active" : "")
            a(href="./contacts.html") Контакты