mixin menu(mod)
    ul.menu(class=mod)
        li 
            a(href="./about.html") О нас
        li
            a(href="./services.html") Услуги
        li 
            a(href="./contacts.html") Контакты