mixin service(img, title, descr)
    .column.small-12.large-4
        a.services_item(href="./product.html")
            span.services_item_img
                img(src="./img/" + img + "@2x.jpg", alt=title)
            span.services_item_content
                h2.services_item_title
                    =title
                p.services_item_descr
                    =descr
                span.button.secondary.clear.icon(href="#")
                    | Подробнее
                    +icon('arr', 24, 16, '55b0bf')