extends ../layout
block const
    - const page = 'services';
block components
    include ../components/_service
block content
    include ../sections/_product
    include ../sections/_brands
    include ../sections/_contact